body{
    font-family: 'Open Sans Condensed', sans-serif;
}
h1, h2, h3{
    font-family: 'Abel', sans-serif, fantasy;
}
.navbar {
    background-color: hsl(189, 30%, 50%);
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.jumbotron{
    margin:0;
    padding:30px;
    background-image:url(../img/background.jpg);
}
#submit{
    background-color: hsl(189, 30%, 50%);
}